# Pandas Demo

## Data Frame mit eindimensionalen Array

In [1]:
import pandas

data = [5, 6, 3, 7]
df = pandas.DataFrame(data)
df

   0
0  5
1  6
2  3
3  7

## Data Frame mit zweidimensionalen Array

In [2]:
import pandas

data1 = [5, 6, 3, 7]
data2 = [6, 3, 5, 2] 
data = [data1, data2]
df = pandas.DataFrame(data)
df

   0  1  2  3
0  5  6  3  7
1  6  3  5  2

## Data Frame mit Dictionaries

In [3]:
import pandas


data = [
    {'Vorname': 'Michael', 'Nachname': 'Bykovski', 'Geburtstag': '19.01.1994'},
    {'Vorname': 'Michael', 'Nachname': 'Jackson', 'Geburtstag': '29.08.1958'},
]
df = pandas.DataFrame(data)
df

   Vorname  Nachname  Geburtstag
0  Michael  Bykovski  19.01.1994
1  Michael   Jackson  29.08.1958

## Data Frame mit Arrays und erste Operation

In [4]:
import pandas

data1 = [5, 6, 3, 7]
data2 = [6, 3, 5, 2] 
data = [data1, data2]
df = pandas.DataFrame(data)
df.add(4) # Mutiert nicht die "df" Variable

    0   1  2   3
0   9  10  7  11
1  10   7  9   6

## Data Frame mit Dictionaries und Umwandlung von Zeiten

In [5]:
import pandas
data = [
    {'Vorname': 'Michael', 'Nachname': 'Bykovski', 'Geburtstag': '19.01.1994'},
    {'Vorname': 'Michael', 'Nachname': 'Jackson', 'Geburtstag': '29.08.1958'},
]
df = pandas.DataFrame(data)
df['Geburtstag'] = pandas.to_datetime(df['Geburtstag'])
df['Alter'] = (pandas.Timestamp.today() - df['Geburtstag']).dt.days

print(df)
print('-----------------')
df['Alter'] = df['Alter'].floordiv(365)
df

   Vorname  Nachname Geburtstag  Alter
0  Michael  Bykovski 1994-01-19   9371
1  Michael   Jackson 1958-08-29  22298
-----------------

   Vorname  Nachname Geburtstag  Alter
0  Michael  Bykovski 1994-01-19     25
1  Michael   Jackson 1958-08-29     61