# Series

## Series mit Daten und einfachen Typen (int)

In [8]:
import pandas

data = [1, 2, 3, 4, 6]
s = pandas.Series(data)
s

0    1
1    2
2    3
3    4
4    6
dtype: int64

## Series mit Daten und einfachen Typen (float)

In [10]:
import pandas

data = [0.1, 0.2, 1.3, 1.4, 2.6]
s = pandas.Series(data)
s

0    0.1
1    0.2
2    1.3
3    1.4
4    2.6
dtype: float64

## Series mit Daten und Objekten

In [15]:
import pandas

data = {'Vorname': 'Michael', 'Nachname': 'Bykovski', 'Geburtstag': '19.01.1994'}
s = pandas.Series(data)
s

Vorname          Michael
Nachname        Bykovski
Geburtstag    19.01.1994
dtype: object

## Mutation von Series

In [16]:
import pandas
s = pandas.Series([2, 4, 6, 8])
s.add(2)

0     4
1     6
2     8
3    10
dtype: int64

## Besondere Mutation von Series

In [17]:
import pandas

def greater_equal_10(value):
    return value >= 10

def apply_to_series(value):
    if greater_equal_10(value):
        return 0
    else:
        return 1

s = pandas.Series([2, 4, 6, 8])
s.add(2).apply(apply_to_series)

0    1
1    1
2    1
3    0
dtype: int64

## Fehler, wenn falsche Typen mutiert werden

In [26]:
import pandas

data = {'Vorname': 'Michael', 'Nachname': 'Bykovski', 'Geburtstag': '19.01.1994'}
s = pandas.Series(data)
try:
    s.add(2)
except Exception as e:
    print(e)

s.add('Test')

can only concatenate str (not "int") to str

Vorname          MichaelTest
Nachname        BykovskiTest
Geburtstag    19.01.1994Test
dtype: object

## Es wird komplizierter...

In [28]:
import pandas

print(pandas.to_datetime('19.01.1994'))
print(type(pandas.to_datetime('19.01.1994')))
data = {'Vorname': 'Michael', 'Nachname': 'Bykovski', 'Geburtstag': pandas.to_datetime('19.01.1994')}
s = pandas.Series(data)
try:
    s.add(2)
except Exception as e:
    print(e)

try:
    s.add('Test')
except Exception as e:
    print(e)

1994-01-19 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
can only concatenate str (not "int") to str
unsupported operand type(s) for +: 'Timestamp' and 'str'

## Daten aus dem Series selektieren

In [34]:
import pandas

data = [5, 10, 15, 20]
s = pandas.Series(data)
s[1]

10

In [36]:
import pandas

data = {'Vorname': 'Michael', 'Nachname': 'Bykovski', 'Geburtstag': pandas.to_datetime('19.01.1994')}
s = pandas.Series(data)
s['Geburtstag']

Timestamp('1994-01-19 00:00:00')

In [47]:
import pandas

data = {'Vorname': 'Michael', 'Nachname': 'Bykovski', 'Geburtstag': pandas.to_datetime('19.01.1994')}
s = pandas.Series(data)
s.filter(items=['Vorname', 'Nachname'])

Vorname      Michael
Nachname    Bykovski
dtype: object

## Weiter nützliche Funktionen

In [37]:
import pandas

data = {'Vorname': 'Michael', 'Nachname': 'Bykovski', 'Geburtstag': pandas.to_datetime('19.01.1994')}
s = pandas.Series(data)
s.keys()

Index(['Vorname', 'Nachname', 'Geburtstag'], dtype='object')

In [44]:
for key, value in s.items():
    print('Schlüssel: ', key, ' - Wert: ', value)

Schlüssel:  Vorname  - Wert:  Michael
Schlüssel:  Nachname  - Wert:  Bykovski
Schlüssel:  Geburtstag  - Wert:  1994-01-19 00:00:00